RewriteEngine On
RewriteBase /

# Allow assets to load properly (no redirects)
RewriteRule ^assets/ - [L]
RewriteRule ^uploads/ - [L]
RewriteRule ^includes/ - [L]
RewriteRule ^admin/ - [L]
RewriteRule ^Student/ - [L]
RewriteRule ^courses/ - [L]
RewriteRule ^sql/ - [L]
RewriteRule ^process/ - [L]

# Stop rewrite if real file exists
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule .* - [L]

# Stop rewrite if directory exists
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule .* - [L]
