RewriteEngine On
RewriteBase /

# ----------- FIX FOR RENDER (MOST IMPORTANT) --------------
RewriteOptions AllowNoSlash

# Do not rewrite asset files
RewriteRule ^assets/ - [L]
RewriteRule ^uploads/ - [L]
RewriteRule ^includes/ - [L]
RewriteRule ^admin/ - [L]
RewriteRule ^Student/ - [L]
RewriteRule ^courses/ - [L]
RewriteRule ^sql/ - [L]
RewriteRule ^process/ - [L]

# Stop rewrite if file exists
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule .* - [L]

# Stop rewrite if folder exists
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule .* - [L]
